*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(102, 165, 246);
    text-align: center;
}
.Container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.Box{
    height: 18vmin;
    width: 18vmin;
    background-color: rgb(246, 251, 162);
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(8, 8, 8);
    font-size: 8vmin;
    color: rgb(253, 14, 102);
}
#resetBtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: red;
    color: white;
    border-radius: 1rem;
    border: none;
}
#newBtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(3, 159, 3);
    color: white;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: white;
    font-size: 8vmin;
}
.hide{
    display: none;
}